body {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

#page-body {
	white-space: nowrap;
}

#visualization {
	margin: 10px 0px 0px 10px;
	display: inline-block;
	width: 1000px;
	height: 600px;
	vertical-align: top;
	border: solid 2px #ccc;
}

#info-board {
	margin: 10px 0px 0px 10px;
	display: inline-block;
	width: 300px;
	height: 600px;
	vertical-align: top;
	border: solid 2px #ccc;
}

#url-container {
	height: 42px;
	padding: 13px 5px 0px 5px;
	text-align: center;
	background-color: #FCFEF5;
	font-size: 17px;
	font-weight: bold;
	color: #E15E6E;
	white-space: normal;
	word-wrap: break-word;
	border-bottom: solid 2px #ccc;
}

#list-container {
	width: 291px;
	height: 545px;
}

.inner-list {
	width: 263px;
	white-space: normal;
	word-wrap: break-word;
	font-size: 13px;
	font-weight: normal;
	color: dimgrey;
	margin: 5px 0px 0px 15px;
	list-style-type: square ;
}

ul {
	margin: 0px;
	padding: 0px;
}

#wapiti-list, #skipfish-list, #arachni-list {
	list-style-type: none;
	margin: 5px 0px 0px 5px;
	font-size: 20px;
	font-weight: bold;
}

#overlay-title {
	font-size: 50px;
	fill: #E15E6E;
}

#overlay-rect {
	fill-opacity: 0;
}

.legend-rect {
	stroke: #ccc;
	stroke-width:  2;
}

.error-free-text-color  {
	color: #B4DEBB;
}

.wapiti-text-color {
	color: #E15E6E;
}

.skipfish-text-color {
	color: #E1918E;
}

.arachni-text-color {
	color: #E0C4AE;
}

.error-free-color  {
	fill: #B4DEBB;
}

.wapiti-color {
	fill: #E15E6E;
}

.skipfish-color {
	fill: #E1918E;
}

.arachni-color {
	fill: #E0C4AE;
}

.legend-text {
	font-size: 15px;
	font-weight: bold;
	fill: dimgrey;
}

hr {
	margin: 10px 0px 7px 5px;
}
