body {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

#page-body {
	white-space: nowrap;
}

#visualization {
	margin: 10px 0px 0px 10px;
	display: inline-block;
	vertical-align: top;
	border: solid 2px #ccc;
}

#info-board {
	margin: 10px 0px 0px 10px;
	display: inline-block;
	width: 300px;	
	height: auto;
	vertical-align: top;
	border: solid 2px #ccc;
}

#url-container {
	height: 50px;
	padding: 15px 5px 0px 5px;
	text-align: center;
	background-color: #FCFEF5;
	font-size: 17px;
	font-weight: bold;
	color: #E15E6E;
	white-space: pre;
	word-wrap: break-word;
	border-bottom: solid 2px #ccc;
}

#list-container {
	width: 291px;
}

.inner-list {
	width: 263px;
	white-space: normal;
	word-wrap: break-word;
	font-size: 13px;
	font-weight: normal;
	color: dimgrey;
	margin: 5px 0px 0px 15px;
	list-style-type: square ;
}

ul {
	margin: 0px;
	padding: 0px;
}

.error-field {
	color: black;
	font-size: 12px;
}

#control-panel {
	margin: 10px 0px 0px 10px;
}

#wapiti-list, #w3af-list, #arachni-list {
	width: 278px;
	list-style-type: none;
	margin: 8px 0px 0px 5px;
	font-size: 20px;
	font-weight: bold;
}

#overlay-title {
	font-size: 50px;
	fill: #E15E6E;
}

#overlay-rect {
	fill-opacity: 0;
}

.legend-rect {
	stroke: #ccc;
	stroke-width: 2;
}

.error-free-text-color  {
	color: #B4DEBB;
}

.wapiti-text-color {
	color: #ECE59A;
}

.w3af-text-color {
	color: #FD6E8A;
}

.arachni-text-color {
	color: #848D82;
}

.error-free-color  {
	fill: #B4DEBB;
}

.wapiti-color {
	fill: #ECE59A;
}

.w3af-color {
	fill: #FD6E8A;
}

.arachni-color {
	fill: #848D82;
}

.legend-text {
	font-size: 15px;
	font-weight: bold;
	fill: dimgrey;
}

hr {
	margin: 10px 0px 7px 5px;
}

div.tooltip {
  position: absolute;
  padding: 3px 3px 3px 3px;
  font: 12px sans-serif;
  background: lightgrey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.label {
	width: 130px;
	display: inline-block;
	margin-left: 3px;
	font-size: 15px;
	font-weight: bold;
	color: dimgrey;
}

a, a:visited {
	text-decoration: none;
	color: blue;
}