body {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

#visualization {
	margin: 10px 0px 0px 10px;
	float: left;
	vertical-align: top;
	width: 1000px;
	height: 600px;
	border: solid 2px #ccc;
}

#info-board {
	margin: 10px 0px 0px 10px;
	float: left;
	vertical-align: top;
	width: 300px;
	height: 600px;
	border: solid 2px #ccc;
}

.inner-list {
	width: 200px;
	word-wrap: break-word;
}


#url-container {
	width: auto;
	height: 45px;
	padding: 10px 5px 0px 5px;
	background-color: #ccc;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	word-wrap: break-word;
}

#list-container {
	display: block;
	width: 291px;
	height: 545px;
	position: relative;
}

#overlay-title {
	font-size: 50px;
	fill: #E15E6E;
}

#overlay-rect {
	fill-opacity: 0;
}

.legend-rect {
	stroke: #ccc;
	stroke-width:  2;
}

#error-free-rect {
	fill: #B4DEBB;
}

#wapiti-rect {
	fill: #E15E6E;
}

#skipfish-rect {
	fill: #E1918E;
}

#arachni-rect {
	fill: #E0C4AE;
}

.legend-text {
	font-size: 15px;
	font-weight: bold;
	fill: dimgrey;
}